{% extends 'base.html' %}
{% block title %} | about {% endblock  %}
{% block content %}
{% load static %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-tour content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="about-tour-photo">
                    <div id="tourDetailsSlider" class="carousel tour-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="https://source.unsplash.com/1920x1080/?Temples,Architecture" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="https://source.unsplash.com/1920x1080/?Nature,river" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="https://source.unsplash.com/1920x1080/?Arts,Culture" class="img-fluid" alt="slider-place">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators tour-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#tourDetailsSlider">
                                    <img height="100" width="100" src="https://source.unsplash.com/1920x1080/?Temples,Architecture" class="img-fluid" alt="small-place">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#tourDetailsSlider">
                                    <img height="100" width="100" src="https://source.unsplash.com/1920x1080/?Nature" class="img-fluid" alt="small-place">
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#tourDetailsSlider">
                                    <img height="100" width="100" src="https://source.unsplash.com/1920x1080/?Arts,Culture" class="img-fluid" alt="small-place">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-place">
                    <h3>Welcome To: <span><b> सfari</b></span></h3>
                    <b>Who we are:</b><p>We “Travel With Safari” provide a total solution for your next travel destination. We are loaded with full of information about every exciting, adventure and popular place in the world, from the depth of valleys to the height of mountains, from natural beautiful places to Modern man-made jaw-dropping architecture, we have details about every place under your fingertip. So just don’t wait to go ahead and plan your next trip. Happy Tripping. </p>


                    <b>Goal: </b><p>Our motive is to provide a hassle-free travelling experience for our user to explore and enjoy the precious moments of their lives. We want to help our users to choose their travel destination based on their choice. We are intended to make our user aware of trending destination places based on people’s choice. We want to expand our reach to the audience. Along with all these things, we encourage peoples to share their travel experience which can be useful to many future travellers.
                    </p>

                    <b>Our Values: </b>
                    <ol>
                        <li>
                           <p>Team Work : Collaboration brings us together. There’s no problem that we can’t tackle it together. Working as a team, we can conquer any castle.</p>
                        </li>
                        <li>
                            <p>Think Innovative :  We embrace change and foster innovation. Our creativity and tendency to upgrade make drive us to create new things.</p>
                        </li>
                        <li>
                            <p>Integrity : We operate openly and with transparency. Our team members, users and communities always know where we stand.</p>
                        </li>
                        <li>
                            <p>Futuristic vision: We believe in sharing and empowering others to create a better community for the future.</p>
                        </li>
                    </ol>
                    <b>Our Mission: </b><p>Our Mission is to provide information to peoples and create a community to bring everyone closer where they can share their travel experience and other can grab precious information for their next trip. Apart from this, we looking forward to promoting local business, local arts, travel agencies, hotels, translators. We are trying to create a community of traveller who can transport the local seller’s product to the buyers during their journey. In further actions, we are intended to expand our community to help more and more peoples.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->



<!-- Our team start -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Contributing to overall project objectives</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                                <img src="{{team.photo.url}}" alt="team-1" class="img-fluid">
                            <div class="social-list clearfix">
                                <a href="{{team.facebook_link}}" target='_blank' class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{team.twitter_link}}" target='_blank' class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{team.linkedin_link}}" target='_blank' class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4>{{team.first_name}} {{team.last_name}}</h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->
{% endblock content %}