{% extends 'base.html' %}
{% block content %}

{% load static %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/tour-1.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your powerpack tourism.</h5>
                    <a href="services.html" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/tour-2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>World's Oldest Civilisations</h3>
                    <h5>India is a mosaic of multicultural experiences<br>
                        With a rich heritage and myriad attractions</h5>
                    <a href="#" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/tour-3.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Trending Destinations</h3>
                    <h5>As 2020 winds to a close,<br>
                        there are hopeful signs for travel amid the pandemic.</h5>
                    <a href="#" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="#" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="select-make">
                        <option selected="true" disabled="disabled">Country</option>
                        <option>India</option>
                        <option>United States</option>
                        <option>Spain</option>
                        <option>France</option>
                        <option>Italy</option>
                        <option>Russia</option>
                        <option>Germany</option>
                        <option>China</option>
                        <option>Turkey</option>
                        <option>Maxico</option>
                        
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Travel Budget</label>
                                <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Trending locations start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Trending <span>locations</span></h1>
            <p>These destinations are on travel addicts’ radar for rightfully hyped 2020 events, new offerings, and recent developments that make them a must-visit right now.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="tour-details.html" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="static/img/mytour/japan.jpg" alt="location-1">
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="static/img/mytour/japan-1.jpg" class="overlap-btn" data-sub-html="<h4>Shrines and Temples in Kyoto</h4><p>Visiting Kyoto’s stunning shrines and temples is one of the most popular things to do in Japan. While there are over 2,000 of these religious buildings scattered across the city.</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="static/img/mytour/japan-1.jpg" >
                                            </a>
                                            <a href="static/img/mytour/japan-2.jpg" class="hidden" data-sub-html="<h4>Sagano bamboo forest</h4><p>Arashiyama’s bamboo forest is undoubtedly one of the most famous Japan tourist attractions. The 30+ meter stalks filter the sunlight as you pass through, creating an other-worldly experience.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-2.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-3.jpg" class="hidden" data-sub-html="<h4>Akihabara: Tokyo’s Electric Town</h4><p>Akihabara the epicenter of Japan’s anime and gaming culture. Multi-story arcades, themed cafes, and colorful billboards fill the streets and skyline.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-3.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-4.jpg" class="hidden" data-sub-html="<h4>Cherry blossoms</h4><p>People around the world go crazy for Japan’s cherry blossoms. Hanami, the act of viewing flowers, is a national pastime in the spring months, with crowds of locals and travelers alike snapping photos of the pink blooms.</p>">
                                                <img class="hidden" src="static/img/mytour/japan-4.jpg">
                                            </a>
                                            <a href="static/img/mytour/japan-5.jpg" class="hidden" data-sub-html="<h4>Nara deer park</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy....</p>">
                                                <img class="hidden" src="static/img/mytour/japan-5.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tour-details.html">Japan</a>
                            </h1>
                            <div class="location">
                                <a href="tour-details.html">
                                    <i class="flaticon-pin"></i>Japan
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>Shrines and Temples in Kyoto</li>
                                <li>Sagano bamboo forest</li>
                                <li>Akihabara: Tokyo’s Electric Town</li>
                                <li>Cherry blossoms</li>
                                <li>Nara deer park</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Rent car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our <span>Recomendations</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="tour-thumbnail">
                        <a href="tour-details.html" class="tour-img">
                            <div class="tag">Latest</div>
                            <img class="d-block w-100" src="static/img/mytour/peru-0.jpg" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2021
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="static/img/mytour/peru-1.jpg" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="static/img/mytour/peru-1.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-2.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-2.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-3.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-3.jpg">
                                        </a>
                                        <a href="static/img/mytour/peru-4.jpg" class="hidden">
                                            <img class="hidden" src="static/img/mytour/peru-4.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="tour-details.html">Machu Picchu</a>
                        </h1>
                        <div class="location">
                            <a href="tour-details.html">
                                <i class="flaticon-pin"></i>Peru
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Recently Discovered</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rent car end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="img/avatar/avatar-12.jpg" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">Brandon Miller</a></h4>
                            <h5>Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="img/avatar/avatar-9.jpg" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">Michelle Nelson</a></h4>
                            <h5>Support Manager</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="img/avatar/avatar-11.jpg" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">Stone Carolyn</a></h4>
                            <h5>Creative Director</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="img/avatar/avatar-10.jpg" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">Martin Smith</a></h4>
                            <h5>Web Developer</h5>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="img/avatar/avatar-11.jpg" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">Stone Carolyn</a></h4>
                            <h5>Creative Director</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->


<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="https://storage.googleapis.com/theme-vessel/carhouse/index.html#" class="search-header">
        <input type="search" value="" placeholder="type keyword(s) here. Eg: India, Spain, France" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>

<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Explore Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="img/car-13.jpg" alt="best-car" class="img-fluid modalLabel-1">
                                <img src="img/car-14.jpg" alt="best-car" class="img-fluid modalLabel-2">
                                <div class="sobuz">
                                    <div class="price-box" style="padding-bottom: 5px;">
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="">
                                        <a href="tour-details.html" class="btn btn-md btn-round btn-theme">Convertible</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="tour-details.html" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
