{% extends 'base.html' %}
{% block title %} | Home {% endblock  %}
{% block content %}
{% load static %}
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="https://source.unsplash.com/1920x1080/?world" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your powerpack tourism.</h5>
                    <a href="{% url 'place' %}" class="btn_item btn btn-lg btn-theme">Find more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="https://source.unsplash.com/1920x1080/?india" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>World's Oldest Civilisations</h3>
                    <h5>India is a mosaic of multicultural experiences<br>
                        With a rich heritage and myriad attractions</h5>
                    <a href="{% url 'place' %}" class="btn_item btn btn-lg btn-theme">Find more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="https://source.unsplash.com/1920x1080/?island" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Trending Destinations</h3>
                    <h5>As 2020 winds to a close,<br>
                        there are hopeful signs for travel amid the pandemic.</h5>
                    <a href="{% url 'place' %}" class="btn_item btn btn-lg btn-theme">Find more</a>
                </div>
            </div>
        </div>
        
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Trending locations start -->
<div class="featured-place content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Trending <span>locations</span></h1>
            <p>These destinations are on travel addicts’ radar for rightfully hyped 2020 events, new offerings, and recent developments that make them a must-visit right now.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for place in top_records %}
                <div class="slick-slide-item">
                    <div class="tour-box-3">
                        <div class="tour-thumbnail">
                            <a href="{% url 'place_detail' place.id %}" class="tour-img">
                                <div class="tag-2">Trending</div>
                                <img class="d-block w-100" src="{{place.place_photo.url}}" alt="Photo Unavailable">
                            </a>
                            <div class="placebox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                            <a href="{{place.place_photo_1.url}}" class="overlap-btn" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story1}}</p>">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" src="{{place.place_photo_1.url}}" >
                                            </a>
                                            <a href="{{place.place_photo_2.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story2}}</p>">
                                                <img class="hidden" src="{{place.place_photo_2.url}}">
                                            </a>
                                            <a href="{{place.place_photo_3.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story3}}</p>">
                                                <img class="hidden" src="{{place.place_photo_3.url}}">
                                            </a>
                                            <a href="{{place.place_photo_4.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story4}}</p>">
                                                <img class="hidden" src="{{place.place_photo_4.url}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'place_detail' place.id %}">{{place.place_title}}</a>
                                <p>(<i class="fa fa-eye"></i><span> {{place.place_views}}</span> Views)</p>
                            </h1>
                            <div class="location">
                                <a href="https://www.google.com/maps/place/{{place.location}}" target="_blank">
                                    <i class="flaticon-pin "></i> {{place.location}}
                                </a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>{{place.feature1}}</li>
                                <li>{{place.feature2}}</li>
                                <li>{{place.feature3}}</li>
                                <li>{{place.feature4}}</li>
                                {% if place.feature5 %}<li>{{place.feature5}}</li>{% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured place end -->

<!-- Recommended place start -->
<div class="featured-place content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our <span>Recomendations</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for place in recommended_place %}
            <div class="col-lg-4 col-md-6">
                <div class="tour-box">
                    <div class="tour-thumbnail">
                        <a href="{% url 'place_detail' place.id %}" class="tour-img">
                            <div class="tag">Recommended</div>
                            <img class="d-block w-100" src="{{place.place_photo.url}}" alt="Photo Unavailable">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{% now "Y" %}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="placebox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{place.place_photo_1.url}}" class="overlap-btn" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story1}}</p>">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{place.place_photo_1.url}}">
                                        </a>
                                        <a href="{{place.place_photo_2.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story2}}</p>">
                                            <img class="hidden" src="{{place.place_photo_2.url}}">
                                        </a>
                                        <a href="{{place.place_photo_3.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story3}}</p>">
                                            <img class="hidden" src="{{place.place_photo_3.url}}">
                                        </a>
                                        <a href="{{place.place_photo_4.url}}" class="hidden" data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story4}}</p>">
                                            <img class="hidden" src="{{place.place_photo_4.url}}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'place_detail' place.id %}">{{place.place_title}}</a>
                        </h1>
                        <div class="location">
                            <a href="https://www.google.com/maps/place/{{place.location}}" target="_blank">
                                <i class="flaticon-pin"></i> {{place.location}}
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="tourtype">{{place.one_strong_point_for_recommendations}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Recommendations place end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                                <img src="{{team.photo.url}}" alt="team-1" class="img-fluid">
                            <div class="social-list clearfix">
                                <a href="{{team.facebook_link}}" target='_blank' class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{team.twitter_link}}" target='_blank' class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{team.linkedin_link}}" target='_blank' class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4>{{team.first_name}} {{team.last_name}}</h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn_item btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->
{% endblock content %}
