{% comment %} <!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard' %}" class="sign-in"><i class="fa fa-fa-user"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:{document.getElementById('logout').submit()}" class="sign-in"><i class="fa fa-sign-out"></i> Logout</a>
                            <form action="{% url 'logout' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                            </form>
                        </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                            </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end --> {% endcomment %}