{% extends 'base.html' %}
{% block title %} | {{single_place.place_title}} {% endblock  %}
{% block content %}
{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{single_place.place_title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{single_place.place_title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Place details page start -->
<div class="tour-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="tour-details-section">
                    <!-- Heading start -->
                    <div class="heading-tour clearfix">
                        {% include 'includes/messages.html' %}
                        <div class="pull-left">
                            <h3>{{single_place.place_title}}</h3>
                            <h6>
                                <a href="https://www.google.com/maps/place/{{single_place.location}}" target="_blank">
                                    <i class="flaticon-pin"></i><span>{{single_place.location}}</span>
                                </a>
                            </h6>
                            <i class="fa fa-eye"></i><span> {{single_place.place_views}}</span> Views
                        </div>
                        <div class="pull-right">
                            <h3><span>Max : {{single_place.Max_temperature}}℃</span></h3>
                            <h3><span>Min : {{single_place.Min_temperature}}℃</span></h3>
                        </div>
                    </div>
                    <div id="tourDetailsSlider" class="carousel tour-details-sliders slide mb-40">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{single_place.place_photo.url}}" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{single_place.place_photo_1.url}}" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{single_place.place_photo_2.url}}" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="3">
                                <img src="{{single_place.place_photo_3.url}}" class="img-fluid" alt="slider-place">
                            </div>
                            <div class="item carousel-item" data-slide-number="4">
                                <img src="{{single_place.place_photo_4.url}}" class="img-fluid" alt="slider-place">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <div class="carousel-indicators-section clearfix">
                            <ul class="carousel-indicators tour-properties list-inline nav nav-justified">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0"
                                        data-target="#tourDetailsSlider">
                                        <img src="{{single_place.place_photo.url}}" class="img-fluid" alt="small-place">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#tourDetailsSlider">
                                        <img src="{{single_place.place_photo_1.url}}" class="img-fluid"
                                            alt="small-place">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#tourDetailsSlider">
                                        <img src="{{single_place.place_photo_2.url}}" class="img-fluid"
                                            alt="small-place">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="3" data-target="#tourDetailsSlider">
                                        <img src="{{single_place.place_photo_3.url}}" class="img-fluid"
                                            alt="small-place">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="4" data-target="#tourDetailsSlider">
                                        <img src="{{single_place.place_photo_4.url}}" class="img-fluid"
                                            alt="small-place">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab"
                                    aria-controls="one" aria-selected="false">Place overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab"
                                    aria-controls="two" aria-selected="false">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab"
                                    aria-controls="three" aria-selected="false">Reasons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab"
                                    aria-controls="four" aria-selected="false">Closeness</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="place-description mb-50">
                                    <h3 class="heading-2">
                                        Description
                                    </h3>
                                    <p>{{single_place.description | safe}}</p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                <div class="place-description mb-50">
                                    <h3 class="heading-2">
                                        Top features of this place
                                    </h3>
                                    <p>{{single_place.Explain_each_feature | safe}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                                <div class="place-description mb-50">
                                    <h3 class="heading-2">
                                        Reasons to visit
                                    </h3>
                                    <p>{{single_place.Reasons_to_visit | safe}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                                <div class="place-description mb-50">
                                    <h3 class="heading-2">
                                        Closeness of the destination
                                    </h3>
                                    <p>{{single_place.closeness_of_the_destination | safe}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search d-none-500">
                        <button class="btn_item btn btn-outline-danger bomd btn-block btn-lg" data-toggle="modal"
                            data-target="#inquiryModal">Send message</button>
                        <br>
                        <h3 class="sidebar-title">Refine Your Search</h3>
                        <ul>
                            <li>
                                <span>Type: </span>{{single_place.architecture}}
                            </li>
                            <li>
                                <span>Visitors each year: </span>{{single_place.no_of_visitors}}
                            </li>
                            <li>
                                <span>Sealevel: </span>{{single_place.sea_level}}m
                            </li>
                        </ul>
                    </div>

                    <!-- Inquiry Modal -->
                    <div class="modal fade" id="inquiryModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="contact-dealer modal-header">
                                    <!-- <h5 class="modal-title" id="inquiryModalLabel">Contact Dealer</h5> -->
                                    <center><img src="{% static 'img/logos/logo.png' %}"></center>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'inquiry' %}" method='POST'>
                                        {% csrf_token %}
                                        {% if user.is_authenticated %}
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        {% else %}
                                        <input type="hidden" name="user_id" value="0">
                                        {% endif %}
                                        <input type="hidden" name="place_id" value="{{single_place.id}}">
                                        <div class="form-group">
                                            <label for="name" class="col-form-label">Hello, My Name is</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" name="first_name" class="form-control"
                                                        placeholder="First Name" {% if user.is_authenticated %}
                                                        value="{{user.first_name}}" {% endif %} required>
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="last_name" class="form-control"
                                                        placeholder="Last Name" {% if user.is_authenticated %}
                                                        value="{{user.last_name}}" {% endif %} required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" id="sel1" name="customer_need">
                                                <option value="You had not selected any inquiry!">You had not selected
                                                    any inquiry!</option>
                                                <option value="I'd like to hire a tour guide">I'd like to hire a tour
                                                    guide</option>
                                                <option value="I'd like to book hotel nearby">I'd like to book hotel
                                                    nearby</option>
                                                <option value="I'd like to buy vehicle for rent">I'd like to buy vehicle
                                                    for rent</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="place_title" class="form-control"
                                                value="{{single_place.place_title}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="name" class="col-form-label">I live in</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" name="city" class="form-control"
                                                        placeholder="City" required>
                                                </div>
                                                <div class="col">
                                                    <input type="text" name="state" class="form-control"
                                                        placeholder="State" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <label for="name" class="col-form-label">You can reach me by email
                                                        at</label>
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email Address" {% if user.is_authenticated %}
                                                        value="{{user.email}}" {% endif %} required>
                                                </div>
                                                <div class="col">
                                                    <label for="phone" class="col-form-label">or by phone at</label>
                                                    <input type="text" name="phone"
                                                        placeholder="Phone Number (optional)" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="message" class="col-form-label">Any thing else</label>
                                            <textarea name="message" class="form-control"
                                                placeholder="Enter your message here (optional)"></textarea>
                                        </div>
                                        <hr>
                                        <input type="submit" value="Send" class="btn_item btn btn-block btn-danger">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Question start -->
                    <div class="widget question">
                        <h5 class="sidebar-title">Get a Question?</h5>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>XYZ
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="mailto:info@mytour.com">info@mytour.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:+9999 9999 999">9999 9999 999</a>
                            </li>
                        </ul>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="https://www.facebook.com/Travelwithsafari7/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/trvlwithsafari" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="mailto:travelwithsafari7@gmail.com" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://rss.com/podcasts/travel-with-safari/" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/travel-with-safari/" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->
<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>ALREADY ADVENTURED!</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                {% if user.is_authenticated %}
                <a href="{% url 'addpost' %}" class="btn_item btn btn-md">POST YOUR EXPERIENCE</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn_item btn btn-md">POST YOUR EXPERIENCE</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->

{% endblock content %}