{% extends 'base.html' %}
{% block title %} | search {% endblock  %}
{% block content %}
{% load static %}

<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 3 start -->
<div class="search-box-3 sb-7 bg-active">
    <div class="container">
        <div class="search-area-inner">
            <div class="search-contents">
                <form method="GET">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="country">
                                    <option disabled="disabled" selected="selected">Select Country</option>
                                    {% for country in country_search %}
                                    <option value="{{country}}">{{country}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <select class="form-control search-fields" name="location">
                                    <option disabled="disabled" selected="selected">Select Location</option>
                                    {% for location in location_search %}
                                    <option value="{{location}}">{{location}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> {% endcomment %}
                        <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <button class="btn_item btn btn-block button-theme btn-md">
                                    <i class="fa fa-search"></i>Find
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search box 3 end -->

<!-- Featured place start -->
<div class="featured-tour content-area">
    {% if places|length < 1 %}
            <div class="main-title">
                <h1>No results found for <span>Places</span></h1>
                <ul>
                    <li>
                        It looks like there aren't many great matches for your search
                    </li>
                    <li>
                        Try using words that might appear on the page that you’re looking for. For example, 'Wellington' instead of 'Wellington Cable Car and the Kelburn Lookout'.
                    </li>
                </ul>
            </div>
    {% else %}
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Places</span></h1>
            <p>“The world is a book and those who do not travel read only one page.” ~ Saint Augustine.</p>
        </div>
        <div class="row">
            {% for place in places %}
            <div class="col-lg-4 col-md-6">
                <div class="tour-box">
                    <div class="tour-thumbnail">
                        <a href="{% url 'place_detail' place.id %}" class="tour-img">
                            {% if place.is_recommended %}<div class="tag">RECOMMENDED</div>{% endif %}
                            <img class="d-block w-100" src="{{place.place_photo.url}}" alt="location-0">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{% now "Y" %}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="placebox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{place.place_photo_1.url}}" class="overlap-btn"
                                            data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story1}}</p>">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{place.place_photo_1.url}}">
                                        </a>
                                        <a href="{{place.place_photo_2.url}}" class="hidden"
                                            data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story2}}</p>">
                                            <img class="hidden" src="{{place.place_photo_2.url}}">
                                        </a>
                                        <a href="{{place.place_photo_3.url}}" class="hidden"
                                            data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story3}}</p>">
                                            <img class="hidden" src="{{place.place_photo_3.url}}">
                                        </a>
                                        <a href="{{place.place_photo_4.url}}" class="hidden"
                                            data-sub-html="<h4>{{place.place_title}}</h4><p>{{place.story4}}</p>">
                                            <img class="hidden" src="{{place.place_photo_4.url}}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'place_detail' place.id %}">{{place.place_title}}</a>
                        </h1>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <a href="https://www.google.com/maps/place/{{place.location}}" target="_blank">
                                <i class="flaticon-pin"></i><span> {{place.location}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<!-- Featured place end -->

{% endblock %}